*{
    box-sizing: border-box;
}

img {
 float: left;
 width: 30%;
 height: 30%;
 margin:20px;
 padding: 50px;
}

a {
    color:#fb7a02;
}

a:hover{                /* No a:visted for the blink when hover */
    color:rgb(3, 250, 3);
}

header{
    font-family: fantasy, sans-serif, arial;
    color: rgb(250, 182, 9);
    background:#3a0aa8;
    margin: 20px;
    padding: 20px;
    text-align: center;
}



hr{
    border: 1px solid magenta;
    
}

body{   /* there's no margin it to have space around the border*/   
    background: #7431e0;          
    border: 1px solid rgb(3, 250, 3);
    margin: 0; 
 
}

.intro {   /* applied padding and margin here for some space around it */
   font-family: fantasy, sans-serif, arial;
   color: rgb(232, 248, 6);
   padding: 20px 20px 20px 20px;
   margin: 20px;
 
}

#imgblue{
    position: absolute;
    padding:20px;
    margin: 20px;
    width: 30%;
 height: 30%;
}

.art {
    font-family: arial, serif, 'Times New Roman', Times, serif;  
    padding: 40px;
    margin-left: 30%;
    margin-right: 20px;
    margin-bottom: 40px;
    border: 1px solid rgb(250, 122, 3);
    color: rgb(232, 248, 6);
 
    
    
}


.contact {
    font-family: fantasy, sans-serif, arial;
    color:rgb(232, 248, 6);
    text-align: center;
    
}

.main {
   padding:20px 20px 0px 20px;
   margin-left: 20px;
}

.foot{
    color:rgb(250, 182, 9);
    text-align: center;
    background-color: #3a0aa8;
    padding: 40px;
    margin: 20px;
}

#link{
  margin: 0px;
}

p{
    font-size: 20px;
}